
cachetools==5.5.0
certifi==2024.8.30
chardet==5.2.0
decorator==5.1.1
google-api-core==2.23.0
google-api-python-client==2.153.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-auth==2.36.0
googleapis-common-protos==1.66.0
greenlet==3.1.1
httplib2==0.22.0
idna==3.10
ipython-genutils==0.2.0
jedi==0.19.2
msgpack==1.1.0
oauthlib==3.2.2
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
prompt-toolkit==3.0.48
protobuf==5.28.3
ptyprocess==0.7.0
pyasn1-modules==0.4.1
pyasn1==0.6.1
pycparser==2.22
Pygments==2.18.0
pygsheets==2.0.6
pynvim==0.5.2
python-slugify==8.0.4
pytz==2024.2
regex==2024.11.6
requests-oauthlib==2.0.0
requests==2.32.3
rsa==4.9
six==1.16.0
text-unidecode==1.3
traitlets==5.14.3
uritemplate==4.1.1
urllib3==2.2.3
wcwidth==0.2.13